/*styles go here*/

/* p {
  color: red;
} */

body {
  background-color: turquoise;
}

p {
  color: white;
  font-family:'Open Sans', sans-serif;
}

h1 {
  font-family:'Open Sans', sans-serif;
  color: white;
  background-color: teal;
}

.container {
  width: 95%;
  margin: 0 auto;
}

#nav {
    width: 95%;
    margin: 0 auto;
}



#nav {
  list-style-type: none;
  padding: 0;
}


#nav {
    text-decoration: none;
    color: white;
    background-color: pink;
    font-weight: bold;
    text-align: center;
    display: block;
}

img {
  border: none
}

.container {
    margin: auto;
    width: 50%;
    border: 2px solid white;
    padding: 20px;
}
