/*styles go here*/

/* p {
  color: red;
} */

body {
  background-color: turquoise;
}

p {
  color: white;
  font-family: 'Lora', serif;
}

h1 {
  font-family:'Open Sans', sans-serif;
  color: white;
}

img {
  border: none
}

img {
  float: left;
  padding: 10px;
  width: 50%;
  height: auto;
}

nav ul li {
  display: block;
}

nav ul {
  color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 10px;
	list-style-type: none;
	justify-content: space-around;
	font-size: 14pt;
}

nav a {
  color: white;
  display: block;
  text-decoration: none;
  padding: 20px 30px;
}

header {
  display: flex;
  flex-flow: row;
  margin: 0;
  padding: 0 10px;
}

.menu-trigger {
  order: 1;
  font-size: 1.75em;
  width: 2em;
}

header h1 {
  order: 2;
  color: pink;
}

nav ul {
  display: none;
}

@media screen and (min-width: 700px) {

  nav ul {
    display: flex;
  }

  nav ul li {
    border-top: none;
  }

  .menu-trigger {
    display: none;
  }

header h1 {
  order: 1;
}

nav {
  order: 2;
}

}


.nav {
	display: flex;
	flex-direction: row;
}

@media (min-width: 600px) {
	.nav {
		flex-direction: column;
		justify-content: center;
	}
}

@media (min-width: 800px) {

	.home {
		margin-right: auto;
	}
}


#container {
  width: 95%;
  margin: 0 auto;
}

.nav {
    width: 95%;
    margin: 0 auto;
}

.nav {
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    color: white;
    background-color: teal;
    font-weight: bold;
    text-align: center;
    display: block;
}

.menu-trigger {
  order: 1;
  font-size: 1.75em;
  width: 2em;
}

.pics {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    gap: 20px;
    /*grid-column-gap: 10px;
    grid-row-gap: 25px; */
}

.pics li {
    border: 1px solid #white;
    padding: 10px;
    border-radius: 5px;
}
